:root {
  --black: rgb(40, 40, 40);
  --white: rgb(220, 220, 220);
  --gray: rgb(170, 170, 170);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

style, script, title {
  display: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(40, 40, 40);
  color: white;
}

h1 {
  font-weight: 500;
}

#main-container {
  min-height: 100vh;
  margin: 0 auto;
  min-width: 0;
  max-width: 800px;
  width: 100%;
  padding: 30px;
}

button {
  cursor: pointer;
}

.btn-primary {
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--white);
}

.add-deck-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.add-deck-form input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  background-color: white;
}

.add-deck-form label {
  margin-bottom: 5px;
}

.decks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: hidden;
  margin-top: 50px;
}

.deck {
  padding: 10px;
  border: 1px solid black;
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  overflow: hidden;
}

.deck .name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* overflow: hidden; is required on parent element for text truncation to work */
/* see .deck */
.deck .name, .deck .created-by, .deck .created-at {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.deck .created-by, .deck .created-at {
  color: var(--gray);
  font-size: 0.9rem;
}

@media all and (max-width: 750px) {
  main {
    padding: 20px;
  }
  
  .decks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 550px) {
  main {
    padding: 10px;
  }

  .decks {
    grid-template-columns: repeat(1, 1fr);
  }
}