.deck-meta {
  margin-top: 15px;
  font-size: 0.9rem;
  color: gray;
}

.content.loading {
  height: 400px;
}

.deck-header {
  display: flex;
  justify-content: space-between;
}

.deck-header .btn.danger {
  background-color: var(--light);
  color: var(--dark);
  transition: 0.1s;
}

.deck-header .btn.danger:hover {
  background-color: var(--red);
  color: white;
}

.deck-page .deck-actions {
  padding-left: 10px;
}

.deck-page .deck-name {
  word-break: break-all;
}