.loading-spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 6px solid lightgray;
  border-top: 6px solid var(--red);
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
